* {
    /* color: #297373ff; */
    color: #39393A;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Caudex', serif;
    box-sizing: border-box;
    margin: 0;
}

html {
    background: linear-gradient(to right, #fff49f ,#E9D758, #FF8552);
    width: 100%;
}

.construction {
    width: 90vw;
    border: 10px dashed #000;
    text-align: center;
    height: 70vh;
    line-height: 70vh;
    margin: auto;
}

.construction h1 {
    font-size: 10vh;
}

img {
    width: 600px;
    display: block;
    margin-bottom: 10px;
}

.logo {
    font-family: 'Cinzel Decorative';
}

p {
    font-family: 'DM Sans', sans-serif;
    padding: 2vh 0;
}

header { 
    grid-area: header;
    padding-bottom: 2vh;
}

.text { 
    grid-area: main; 
    height: 75vh;
    overflow: scroll;
    text-align: justify;
    text-justify: inter-character;
    margin: 2vw;
}



.bbbble {
    width: 10em;
    height: 5em;
    grid-area: bubble;
}

.links {
    grid-area: links;
    font-size: .5em;
    height: 77vh;
    overflow: scroll;
    display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr .5fr .75fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header header'
    'main main main links nav'
    'main main main links nav'
    'main main main links nav'
    'main main main links nav'
    'main main main links nav';
  gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

a {
    color:#39393A;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 3em;
    /* padding: 0em 0.2em 0em 0.2em; */
    text-decoration-color: #297373;
}

a h3 {
    text-decoration: none;
}

li {
    display: block;
    list-style-type: none;
}

.links li a {
    background: #297373;
    height: 10vh;
    width: 10vh;
    line-height: 10vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 50%;
    margin: 1vh;
    text-align: center;
    font-size: 2vh;
}

#nav {
    display: none;
}

nav ul {
    margin-top: 5vh;
}

.links li a:hover {
    background: #FF8552;
}

li a {
    /* display: flex;
    justify-content: right;
    align-items: end; */
    display: block;
    font-size: 3vh;
    color: #fff;
    background: #297373;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    text-align: center;
    line-height: 15vh;
    margin: 1vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

li a:hover {
    background: #E9D758;
    text-decoration: none;
}

h2 a {
    padding-left: .2em;
    text-decoration-style: wavy;
    margin-bottom: 3vh;
}

h1, h3 {
    font-family: 'Caudex', serif;
    font-size: 1.5em;
}

a:hover {
    color: #297373;
    text-decoration: overline underline;

}

.lilbble p {
    text-align: justify;
    text-justify: inter-word;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25em;
    color: #E6E6E6;
    background: linear-gradient(#297373, #E9D758);
    /* background: #297373; */
    border-radius: 50%;
    width: 10em;
    height: 10em;
    margin: auto;
    overflow: scroll;
}

.bbbble p {
    text-align: justify;
    text-justify: inter-word;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25em;
    color: #E6E6E6;
    background: linear-gradient(to right, #E9D758 , #FF8552);
    /* background: #297373; */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    margin: auto;
    overflow: scroll;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    padding: 0;
    border: none;
    height: 402;
}

button:hover {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    padding: 0;
    cursor: zoom-in;
    border-top: dashed #297373 10px;
}

nav button {
    text-align: justify;
    text-justify: inter-word;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25em;
    background: linear-gradient(#E9D758,#297373);
    /* background: #297373; */
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    overflow: scroll;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

nav button:hover {
    cursor: pointer;
    background: linear-gradient(#297373,#E9D758);
    text-decoration: none;
}

nav {
    grid-area: nav;
    margin-top: -9vh;
}

.caption {
    font-size: .8em;
    font-style: italic;
}

.text a {
    font-size: 1.1em;
}

footer {
    width: 100%;
    background-color: #297373;
    margin-top: 2em;
}

footer p {
    background-color: #297373;
    color: #E6E6E6;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



@media only screen and (max-width: 600px) {
    a {
        font-size: 1.8em;
        padding: 2em 0.5em 2em 0.5em;    
    }
  }