* {
    /* color: #297373ff; */
    color: #39393A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background: linear-gradient(to right, #fff49f ,#E9D758, #FF8552);
}

nav { 
    grid-area: menu; 
}

.text { 
    font-size: 1.1em;
    grid-area: main; 
    height: 80vh;
    overflow: scroll;
    text-align: justify;
    text-justify: inter-character;
    display: grid;
}

.lilbble {
    /* background-color: #297373;
    border-radius: 24px; */
    width: 25em;
    height: 10em;
    display: inline;
    grid-area: bubble;
}

.bbbble {
    width: 10em;
    height: 5em;
    grid-area: bbbble;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'main main main main main nav'
    'main main main main main nav'
    'main main main main main nav'
    'main main main main main nav'
    'main main main main main nav';
  gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

a {
    color:#39393A;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 3em;
    /* padding: 0em 0.2em 0em 0.2em; */
    text-decoration-color: #297373;
}

ul {
    display: block;
    list-style-type: none;
    text-align: justify;
    text-justify: inter-character;
    margin-top: 5vh;
}

.check-list ul {
    list-style-type:none;
    text-align-last: left;
}

h2 a {
    padding-left: .2em;
    text-decoration-style: wavy;
    font-size: 8vh;
}

a:hover {
    color: #297373;
    text-decoration: overline underline;

}

nav button {
    text-align: justify;
    text-justify: inter-word;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25em;
    background: linear-gradient(#E9D758,#297373);
    /* background: #297373; */
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    overflow: scroll;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

nav button:hover {
    background: linear-gradient(#297373,#E9D758);
}

a {
    color:#39393A;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 4vh;
    text-decoration-color: #297373;
}

li a {
    /* display: flex;
    justify-content: right;
    align-items: end; */
    display: block;
    font-size: 3vh;
    color: #fff;
    background: #297373;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    text-align: center;
    line-height: 15vh;
    margin: 1vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

li a:hover {
    background: #E9D758;
    text-decoration: none;
}

nav {
    grid-area: nav;
    margin-top: -10vh;
}

.caption {
    font-size: .8em;
    font-style: italic;
}

h3 {
    font-size: 6vh;
    font-family: Palatino, URW Palladio L, serif;
}

#a h3 a {
    grid-column: 1;
    grid-row: 1;
}

#b h3 a {
    grid-column: 2;
    grid-row: 2;
}

#c h3 a {
    grid-column: 1;
    grid-row: 3;
}

#d h3 a {
    grid-column: 2;
    grid-row: 4;
}

.buttons h3 a {
    padding: 0px;
    text-decoration: none;
    border-radius: 50%;
    width: 15em;
    height: 15em;
    margin: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.buttons h3 a:hover {
    background-color: #FF8552;
    color: #fff;
    transform: translateY(-7px);
}

.sources {
    font-size: .9em;
    font-style: italic;
}

.text a {
    font-size: 1.1em;
}

footer {
    width: 100%;
    background-color: #297373;
    margin-top: 2em;
}

footer p {
    background-color: #297373;
    color: #E6E6E6;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.construction {
    width: 90vw;
    border: 20px dashed #000;
    text-align: center;
    height: 70vh;
    line-height: 70vh;
    margin: auto;
}

.construction h1 {
    font-size: 10vh;
}

@media only screen and (max-width: 600px) {
    a {
        font-size: 1.8em;
        padding: 2em 0.5em 2em 0.5em;    
    }
  }