* {
    background-color: #E9D758;
    color: #297373ff;
}

main {
    height: 15em;
    display: flex;
}

main p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    background-color: #E6E6E6;
    border-radius: 24px;
    width: 15em;
    height: 5em;
    padding: 5em;
    margin: auto;
}

li {
    display: flex;
    justify-content: right;
}

a {
    color:#39393A;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 3.5em;
}

#nav {
    display: flex;
    justify-content: right;
    color:#297373;
}